server:
  port: 8080
  servlet:
    context-path: /bike-platform

spring:
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=BikeShopDB;encrypt=true;trustServerCertificate=true
    username: sa
    password: Sa@12345
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
        format_sql: true